@import "tailwindcss";

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-times { font-family: var(--font-times), serif; font-weight: 400; }
.font-helvetica { font-family: var(--font-helvetica), Arial, sans-serif; }

html { scroll-behavior: smooth; }
main { scroll-snap-type: y proximity; }
section { scroll-snap-align: start; }

@keyframes arrowFloat {
  0%,100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(6px);
  }
}

@keyframes arrowGlow {
  0%,100% {
    opacity: .7;
    filter: drop-shadow(0 0 0px rgba(139,92,246,0.0));
  }
  50% {
    opacity: 1;
    filter: drop-shadow(0 0 10px rgba(139,92,246,0.9))
            drop-shadow(0 0 22px rgba(59,43,255,0.6));
  }
}

.arrow-glow {
  animation: arrowFloat 1.4s ease-in-out infinite,
             arrowGlow 2s ease-in-out infinite;
}
